{{ form_start(form) }}
<div class="row">
    <div class="col-md-12">
        {{ form_errors(form) }}
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        {{ form_row(form.title) }}
        {{ form_row(form.subtitle) }}
        {{ form_row(form.body) }}
        {{ form_row(form.save) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.authors) }}
    </div>
</div>
{{ form_end(form) }}
