{% extends "master.html.twig" %}

{% block content %}
    {% set entry = section('Example.Blog.Entity.Blog').fetch({slug: slug})[0] %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ entry.title }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <h3>{{ entry.subtitle }}</h3>

                    {{ entry.body }}

                    <p><a href="/edit-blog/{{ entry.slug }}">Edit entry</a></p>
                </div>
                <div class="col-md-2">
                    <p>By: Dion Snoeijen<br />At: {{ entry.created|date('d-m-Y') }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <h4>Comments</h4>
        </div>
    </div>
    {% for comment in entry.comments %}
    <div class="row">
        <div class="col-md-10">
            <h5>{{ comment.name }}</h5>
            {{ comment.comment }}
            <hr />
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" href="#">Edit</a> <a class="btn btn-default" href="#">Delete</a>
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            {% include 'comment-form.html.twig' with {
                blogId: entry.id
            } %}
        </div>
    </div>
{% endblock %}
