{{ form_start(form) }}
<div class="row">
    <div class="col-md-12">
        {{ form_errors(form) }}
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        {{ form_row(form.title) }}
        {{ form_row(form.save) }}
    </div>
    <div class="col-md-3">
        <p>If you wan't a field here, to represent the many entries. You will have to add a One to Many field to the "MtoOne" section configuration.</p>
    </div>
</div>
{{ form_end(form) }}
