{% extends "master.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <a href="/relationships"><- Relationships</a>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Many to many</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Many 1 Has relationship to Many 2</h4>
            <p>This relationship is defined in the section config.</p>
            <ul>
                {% for entry in section('mtm1').limit(10).fetch() %}
                <li>{{ entry.default }} <a href="/relationships/update-many1-record-mtm/{{ entry.slug }}" class="btn btn-default pull-right">Edit</a>
                    <ul>
                    {% for many in entry.mtm2s %}
                        <li>{{ many.default }}</li>
                    {% endfor %}
                    </ul>
                    <hr />
                </li>
                {% endfor %}
            </ul>
            <a class="btn btn-default" href="/relationships/create-many1-record-mtm">Create "Many1" entry</a>
        </div>
        <div class="col-md-6">
            <h4>Many 2 Has relationship to Many 1</h4>
            <p>This relationship is defined in the section config.</p>
            <ul>
                {% for entry in section('mtm2').limit(10).fetch() %}
                <li>{{ entry.default }} <a href="/relationships/update-many2-record-mtm/{{ entry.slug }}" class="btn btn-default pull-right">Edit</a>
                    <ul>
                    {% for many in entry.mtm1s %}
                        <li>{{ many.default }}</li>
                    {% endfor %}
                    </ul>
                    <hr />
                </li>
                {% endfor %}
            </ul>
            <a class="btn btn-default" href="/relationships/create-many2-record-mtm">Create "Many2" entry</a>
        </div>
    </div>
{% endblock %}
